<div class="row">
    <div class="card p-0 col-md-10 mx-auto my-4">
        <div class="card-header m-0">
            <%= titulo %> 
        </div>
        <div class="card-body">
            <%= descricao %> 
        </div>
        <div class="card-footer">
            <a href="/responder/<%= id %>"><button class="btn btn-outline-primary m-4 col-md-2">Responder</button></a>
        </div>
    </div>
</div>